/* styles.css */

.featuredimg {
	width: 80%;
	border-radius: 10px;
}

.policy-link {
	color: white;
}

/* New Code */
.flex-container {
	display: flex;
	flex-direction: row;
	font-size: 30px;
	text-align: center;
  }
  
  .flex-item-left {
	padding: 20px;
	flex: 40%;
  }
  
  .flex-item-right {
	background-color: white;
	padding: 1em;
	flex: 60%;
	color: black;
	font-size: 0.7em;
	text-align: left;
  }
  

  @media (max-width: 800px) {
	.flex-container {
	  flex-direction: column;
	}   /* Responsive layout - makes a one column-layout instead of two-column layout */

	#age {
		font-size: 1em;
	}

  }

/* */


  select {
	width: 500px;
	font-size: 2em;
	padding: 0.675em 6em 0.675em 1em;
	background-color: #fff;
	border: 1px solid #caced1;
	border-radius: 0.25rem;
	color: #000;
	cursor: pointer;
  }


/* Previous code below */
#header {
	display: flex;
	align-items: center;
	background-color: #053058;
	background-image: url('https://www.baycrest.org/Baycrest_Centre/media/images/header-image-blue.jpg');
	background-position: center;
	background-size: cover;
}

#header h1 {
	font-size: 32px;
	font-weight: bold;
	color: white;
}

.logo {
	margin-right: 10px;
	padding-left: 10px;
	width: 150px;
	height: 150px;
	object-fit: contain;
}

#intro {
	padding: 10px;
	background-color: white;
	color: black;
}


#intro p {
	text-align: justify;
	font-size: 20px;
	line-height: 1.5;
}

body {
	font-family: Arial, sans-serif;
	font-size: 20px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 32px;
	margin-bottom: 20px;
}

#popupOverlay {

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

#popupContent {
	background-color: #fff;
	margin: 20% auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 80%;
	max-width: 400px;
	text-align: center;
}

#continueButton {
	background-color: #41c4dc;
	/*#4CAF50*/
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

#continueButton:hover {
	background-color: #030d49;
}

.hidden {
	display: none;
}

form {
	margin: 20px;
}

fieldset {
	margin-bottom: 20px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

legend {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="radio"],
select {
	font-size: 16px;
	margin-right: 10px;
	margin-bottom: 10px;
}

#showPreviousButton {
	background-color: #41c4dc;
	/*#4CAF50*/
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	cursor: pointer;
}

#showPreviousButton:hover {
	background-color: #030d49;
}

#showPreviousButton:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

#showPreviousButton.hidden {
	display: none;
}

#showNextButton {
	background-color: #41c4dc;
	/*#4CAF50*/
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	cursor: pointer;
}

#showNextButton:hover {
	background-color: #030d49;
}

#showNextButton:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

#showNextButton.hidden {
	display: none;
}



button[type="submit"] {
	background-color: #41c4dc;
	/*#4CAF50*/
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #030d49;
}

.likert-scale {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 10px;
	padding: 10px;
	background-color: #9fdce7;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.likert-scale label {
	margin-right: 10px;
}


footer {
	background-color: #41c4dc;
	padding: 20px;
	text-align: center;
}

.footer-content {
	display: flex;
	flex-direction: column;
	color: white;
}

.organization-name {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 10px;
}

.terms-info {
	font-size: 14px;
	color: white;
}

#closing p {
	text-align: justify;
	font-size: 16px;
	line-height: 1.5;
	max-width: 600px;
}

.progress-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.circle {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid #41c4dd;
	margin: 0 5px;
}

.circle-fill {
	/* background-color: #000; */
	background-color: #41c4dd;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin: 0 5px;
}

pre {
	font-family: "Courier New", monospace;
	font-size: 14px;
  }